{% extends "core/base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-xl mb-3 i-color"></i>
            <h3>Full-Stack Web Development </h3>
            <p class="ss-color">Develop complete web applications with robust backend systems and dynamic, responsive frontend interfaces.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-brain fa-xl mb-3 i-color"></i>
            <h3>API Development & Integration </h3>
            <p class="ss-color">Design and implement RESTful APIs to enable seamless communication between frontend and backend systems.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-chart-pie fa-xl mb-3 i-color"></i>
            <h3>Data Analysis & Visualization </h3>
            <p class="ss-color">Analyze complex datasets to extract insights and create meaningful visualizations that drive business decisions.</p>
        </div>
    </div>

    <div class="row text-white text-center mb-3">
        <div class="col-sm-4">
            <i class="fa-solid fa-user-gear fa-xl mb-3 i-color"></i>
            <h3>Machine Learning Solutions </h3>
            <p class="ss-color">Develop, train, and deploy machine learning models tailored to your business needs, from predictive analytics to automation.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-server fa-xl mb-3 i-color"></i>
            <h3>Custom Backend Development</h3>
            <p class="ss-color">Build and maintain scalable, secure, and high-performance backend systems using Python, Django, and FastAPI.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-xl mb-3 i-color"></i>
            <h3>Database Management </h3>
            <p class="ss-color">Design, implement, and optimize PostgreSQL databases for reliable data storage and retrieval.</p>
        </div>
    </div>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-js fa-xl mb-3 i-color"></i>
            <h3>JavaScript Development </h3>
            <p class="ss-color">Create interactive, user-friendly web applications using modern JavaScript frameworks and libraries.

            </p>
        </div>
        <div class="col-sm-4">
            
            <i class="fa-brands fa-github fa-xl mb-3 i-color"></i>
            <h3>Version Control with Git</h3>
            <p class="ss-color">Manage code efficiently, collaborate with teams, and maintain project history using Git version control.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-lightbulb fa-xl mb-3 i-color"></i>
            <h3>Technical Consulting & Problem Solving </h3>
            <p class="ss-color">Offer expert advice and innovative solutions to complex technical challenges, ensuring your projects succeed.</p>
        </div>
    </div>
</div>
{% endblock content %}